* {
    box-sizing: border-box;
    padding: 0;
    list-style-type: none;
}

body {
    font-family: 'Sora', sans-serif;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}

.opacity {
    opacity: 50%;
   
}
.gap-4-modify{
    gap: 3rem;
}
.text-gray{
    color: #CCD2E9;
}
.gap-5 {
    gap: 9rem!important;
}

main {
    margin: 0 auto;
    max-width: 1440px;
    background-color: #070E27;
}

.btn-nav {
    color: #FFFFFF;
    background-color: #162044;
}

.container-modify {
    padding: 0 40px;
}
.bg-secondary-modify{
    background-color:#4E5A85 ;
}
.raduis {
    border-radius: 0.50rem;
}
.card-title-modify{
    margin-bottom: 2.75rem; 
}
.border-back-modify{
    padding: 1.5rem 0 5rem;
}
.raduis-card {
    border-radius: 1rem;
}
.bg-bt-modify{
    background-color: #689EFF;
    border: none;
}
.raduis-btn {
    border-radius: 1.5rem;
}
.mb-3-modify {
    margin-bottom: 1.5rem;
}
.bg-transparent {
    border: 1px solid #162044;
    border-radius: 16px;
}

.py-5-modify {
    padding-top: 4rem!important;
    padding-bottom: 4.5rem!important;
}

.mb-5-modify {
    margin-bottom: 32px;
}

.p-global {
    color: #7E8BB6;
    font-size: 20px;
    font-weight: normal;
    line-height: 32px;
}

.border-back {
    border-bottom: 1px solid #4e5a8580;
    padding: 1.5rem 5rem;
}

.navbar span {
    font-size: 24px;
    font-weight: 600;
}

.card-text {
    color: #CCD2E9;
}

.width {
    max-width: 400px;
}

.rounded {
    border-radius: 35px;
}

.rounded button {
    background: #689EFF;
    border: none;
}

header h1,
.money {
    font-size: 64px;
    font-weight: 700;
}

.tow .card {
    background: #081131;
    box-shadow: 0px 35px 45px rgba(7, 14, 39, 0.05);
    border-radius: 16px;
    transition: 1s all;
    cursor: pointer;
}

.card-main .card {
    background: #162044;
    box-shadow: 0px 35px 45px rgba(7, 14, 39, 0.05);
    border-radius: 16px;
    transition: 1s all;
    cursor: pointer;
}
.card-body{
    padding: 1rem 2rem 1rem 1rem;
}


ul li {
    color: #CCD2E9;
}

footer {
    background: #162044;
    font-size: 14px;
    line-height: 24px;
    color: #CCD2E9
}